/* ---------- FONT ---------- */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* ---------- CSS RESET ---------- */
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
}

/* ---------- MAIN STYLES ---------- */
body {
    height: 100vh;
    width: 100vw;

    font-family: 'Press Start 2P', cursive;

    display: grid;
    grid-template-areas: 
                        "title"
                        "search"
                        "poke"
                        "poke"
                        "footer";
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

/* header styles */
h1 {
    grid-area: title;

    font-size: 2em;
}

/* search bar styles */
.search-bar {
    grid-area: search;
}

.search-bar input {
    padding: 5px 0 5px 0;
    font-size: 0.8em;
    font-family: 'Press Start 2P', cursive;
    transition: 0.1s ease;
}

.search-bar input:focus {
    border: 3px solid #555;
}

.search-bar input:focus::placeholder {
    color: transparent;
  }

/* pokemon styles */
.pokemon {
    grid-area: poke;
}

.poke-name {
    display: grid;
    justify-content: center;
    font-size: 1.5em;
    text-transform: capitalize;
}

.poke-image {
    display: grid;
    margin: 0 auto;
}

.poke-details li {
    font-size: 0.9em;
    margin: 20px;
}

/* footer styles */
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 0.5em;
}

footer a i {
    font-size: 1.4em;
    padding: 0 7px 0 7px;
}

footer a:nth-child(2) i:hover {
    color: purple;
}

footer a:last-child i:hover {
    color: turquoise;
}

footer a {
    color: black;
}